// @import url('../assets/fonts/Lato-Medium.ttf');

@font-face {
    font-family: lato;
    src: url(../../assets/fonts/Lato-Medium.ttf);
}
// Colors
$darkBlue: rgb(27, 55, 75);
$grey: hsl(100, 3%, 90%);
$brighterGrey: hsl(100, 3%, 94%);

// Fonts
$lato: lato;