@import '../helpers/variables.scss';

%footer {
    background-color: $darkBlue;
    color: $grey; 
    font-family: $lato;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Footer-polish {
    @extend %footer;
    &:before {
        content: 'Copyright 2022 © AM Global';
        padding-left: 5px;
    }
    &:after {
        content: 'Wykonanie ARDEO Grzegorz Muszyński';
        padding-right: 5px;
    }
}
.Footer-english {
    @extend %footer;
    &:before {
        content: 'Copyright 2022 © AM Global';
        padding-left: 5px;
    }
    &:after {
        content: 'Web design by ARDEO Grzegorz Muszyński';
        padding-right: 5px;
    }
}
@media(max-width: $threshold3) {
    %footer {
        height: 80px;
        line-height: 40px;
        display: block;
    }
    .Footer-english,
    .Footer-polish {
        &:before,
        &:after {
            display: block;
            text-align: center;           
        }
    }
}
@media(max-width: $threshold4) {
    %footer {
        height: 60px;
        line-height: 30px;
        display: block;
    }
    .Footer-english,
    .Footer-polish {
        &:before,
        &:after {
            font-size: 13px;         
        }
    }
}