@import '../helpers/variables';

* {
    border: 1px solid red;
}
.Menu {
    .__flags {
        position: fixed;
        z-index: 3;
        right: 20px;
        top: 35px;
        img {
            height: 20px;
            width: 40px;
            padding: 0 5px;
        };
    }
    .__navBar {
        background-color: $darkBlue;
        height: 91px;
        width: calc(100% - 4px);
        position: fixed;
        z-index: 2;
        top: 0;
        img {
            position: absolute;
            width: 300px;
            top: 5px;
            left: 22%;
            &:hover {
                cursor: pointer;
            }
        }
        .hidden {
            transform: translateX(-100%);
            opacity: 0;
            padding-right: 0;
            transition: all 1s;
        }
        .show {
            transform: translateX(0);
            opacity: 1;
            padding-right: 50px;
            transition: all 1s; 
        }
        .centered {
            margin: 32px auto 0;
            transition: all 2s;
        }
        .onRight {
            margin: 32px auto 0;
            transform: translateX(200px);
            transition: all 2s;
        }
        ul {
            padding: 8px 0;
            width: 505px; 
            list-style-type: none;
            padding: 0 5px;
            li {
                display: inline-block;
                padding: 0 12px;
                font-family: $lato;
                font-size: 18px;
                color: white;
                &:hover {
                    color: hsl(0, 0%, 50%);
                    cursor: pointer;
                }
            }
        }
    }
}

.Wallpaper {
    img {
        height: 800px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 45%;
        // object-fit: contain;
    }
}